body {
  margin: 0;
  padding: 0;
}

img {
  width: 85%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background: #909090;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;

  .title {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .menu {
    width: 25%;
    display: flex;
    justify-content: space-around;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    }
  }

  .nav-item {
    font-size: 1.2em;
    display: block;
    padding: .5em;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

}

.error {
  color: red;
}

.success {
  color: green;
}

.notice {
  color: blue;
}
